header {
    background-color: #863bff;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

header a, header h1 {
    color: white;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #dfc6ff;
    text-align: center;
    bottom: 0;
    width: 100%;
}

header nav a{
    margin: 10px;
}