.admin-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #a03bff;
}

.open-modal {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #903bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.open-modal:hover {
    background-color: #7532cc;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 15px;
    width: fit-content;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.event-list {
    margin-top: 20px;
}

.event-item {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
}

.event-item button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #a03bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
}

.event-item button:hover {
    background-color: #8732cc;
}
